$theme-font: "Noto Sans Display", sans-serif;
$theme-color: #045de9;
$theme-dark: #174a9c;
$theme-dark2: #0E3778;
$theme-medium: #a6c8ff;
$theme-medium2: #5090F6;
$theme-light: #e7f0ff;
$font-color: #23272e;
$font-dark: #3b404a;
$font-light: #757a82;
$font-light2: #7c7c80;
$secondary: #323842;
$light-bg: #f2f4f7;
$light: #e4e6eb;
$danger: #ff0000;
$warning: #ff870b;
$success: #128807;
$success-bg: #9AD9BE;
$danger-bg: #ffcccc;
$border-color: #50555d;
$border-dark: #979797;
$border-dark2: #a7acb4;
$border-medium: #ebebf0;
$border-light: #d2d5d9;
$border-light2: #D8D8D8;
$border-input: #dedfe3;
$brand-dream11: #DB0100;
$brand-11Wickets: #7641A4;
$brand-my11cir: #E42400;
$brand-gamezy: #2400A8;
$common-transition: all 0.3s ease-in-out;
$theme-gradient: linear-gradient(261.07deg, #a628ec 4.18%, #803be6 107.85%);
