@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.mb-0 { margin: 0; }
.me-2 { margin-right: 8px; }
.mx-4 { margin: 0 24px;}
.t-center { text-align: center;}
.d-block { display: block;}
.d-flex { display: flex; -webkit-display: flex; }
.align-items-center { align-items: center; -webkit-align-items: center; }
.col-md-5 { flex: 0 0 auto; width: 41.66666667%; }
.col-md-7 { flex: 0 0 auto; width: 58.33333333%; }
.justify-content-center { justify-content: center; -webkit-justify-content: center; }
.big-text { font-size: 16px; line-height: 24px; }
p { font-size: 14px; line-height: 20px;}
.common-box { margin-bottom: 24px; padding: 16px; background: #fff; border-radius: 16px;
  > :last-child { margin-bottom: 0; }
}
.title { margin-top: 20px; font-weight: 600; color: $theme-color; }
.matchInfo { border-right: 1px solid $light; }
.item { margin-bottom: 2px; }
.teams { margin: 12px 0; }
.flag { width: 28px; }
.tipsBtn { margin-right: 32px; text-decoration: none;
    &.dream11 { color: $brand-dream11; }
    &.eleWickets { color: $brand-11Wickets; }
    &.gamezy { color: $brand-gamezy; }
    &.my11circle { color: $brand-my11cir; }
    .icon { width: 28px; overflow: hidden; border-radius: 50% }
    &:last-child { margin-right: 0; }
}
.dropdownToggle { width: 28px; height: 28px;
  &::after { display: none;}
}
    
/***** Responsive CSS Start ******/
@media (max-width: 767px) {
  .row { flex-wrap: wrap;}
  p { font-size: 13px; line-height: 18px; }
  .big-text { font-size: 14px; line-height: 22px; }
  .matchInfo { width: 100%; margin-bottom: 12px; padding-bottom: 16px; border-right: none; border-bottom: 1px solid $light; }
  .tipsBtn { margin-right: 12px; padding: 4px 8px; border-radius: 2em;
    &.dream11 { background: rgba($brand-dream11, 0.08); }
    &.eleWickets { background: rgba($brand-11Wickets, 0.08); }
    &.gamezy { background: rgba($brand-gamezy, 0.08); }
    &.my11circle { background: rgba($brand-my11cir, 0.08); }
    .icon { display: none; }
  }
  [class*="col-"] {  width: 100%;  }
}
