@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.pageHeader { margin-bottom: 16px; padding: 16px 16px 12px 16px; background: var(--light-mode-bg); border-radius: 16px; 
    table { 
        tr:first-child {
            td { background: $theme-color; color: $light-color;}
        }
        td { background-color: var(--theme-bg);}
    }
}
[class*="truncate-expanded-slot"],
[class*="truncate-collapsed-slot"] { display: flex; @include justify-content(flex-end);}
.read-more-less-btn { margin-left: auto; padding: 5px 12px; display: block; background: $theme-color; font-size: 12px; line-height: 18px; color: #fff; text-align: center; font-weight: 700; border: 1px solid #045de9; border-radius: 2em; cursor: pointer;
}
.action-btn { display: flex; @include justify-content(flex-end); }
.truncate-text{margin-bottom: 8px;}
.desc {
    p { margin-bottom: 12px; }
}