@import "@/assets/scss/helper/mixin";

.login {
    background: url('../../assets/images/image/plans.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-items: center;

    .verify {
        &_header {
            @include flex(flex-start, space-between, null);
            margin-bottom: 16px;

            label {
                margin-bottom: 0 !important;
                color: var(--neutrals-70-color) !important;
                font-weight: 400 !important;

                span {
                    color: var(--white-color);
                }

                img {
                    margin-right: 8px;
                    width: 19px;
                    height: auto;
                    margin-top: -7px;
                }
            }
        }
    }
}