@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.siteHeader { background: $theme-color;
  .navbar { padding: 12px 0; font-size: 12px; line-height: 20px; @include align-items(center);
    .nav { margin-left: auto; @include align-items(center);
      .userDropdown > button,
      .navLink { margin-left: 16px; color: #fff; font-weight: 700;
        &:hover { color: #fff;}
        &.fillBtn,
        &.outlineBtn  { border-radius: 2em }
        &.fillBtn     { padding: 6px 12px; background: #fff; color: $theme-color; }
        &.outlineBtn  { padding: 4px 12px; color: #fff; border: 2px solid #fff; 
          svg { margin: 0 4px 0 -2px; }
        }
      }
      .iconItem  { padding: 0; 
        svg { width: 32px; height: 32px; }
      }
      .search-icon { width: 32px; height: 32px; }
    }
    .separator { margin-left: 16px; width: 1px; height: 32px; display: block; background: rgba(255,255,255,0.2); }
    .userDropdown {
      > button { padding: 0;
        &::after { display: none; }
        > span { display: block; }
      }
      .dropdownMenu { min-width: 190px;}
    }
    .profileInfo { margin-bottom: 7px; padding-bottom: 9px; border-bottom: 1px solid $border-light2; cursor: pointer;
      .profilePic { width: 32px; margin-right: 7px;
        img { object-fit: cover;}
      }
    }
  }
  .logo { padding: 0; margin: 0; width: 150px; display: block; }
  .modeSwitch { 
    label { color: #fff; margin-right: 8px; }
  }
}
.userDropdown {
  .dropdownVerify { 
    button { width: auto; border: 1px solid; }
  }
}

.langMenu { margin-left: 16px;
  > button { display: flex; display: -webkit-flex; @include align-items(center); background-color: transparent; font-size: 12px; line-height: 18px; color: #fff; padding: 0;
    &::after { margin-left: 2px; width: 18px; height: 18px; background: url(../../../assets/images/icon/down-caret.svg) no-repeat center center / cover; border: none; @include transition($common-transition); }
    &:hover,
    &:focus{ color: #fff; }
  }
  &.show {
    .dropdown-toggle { background: $light-bg; border-color: $light-bg; color: inherit; box-shadow: none; outline: none; 
        &:hover,
        &:focus{ background: $light-bg; border-color: $light-bg; color: inherit; box-shadow: none; outline: none; }
        &::after { @include transform(rotate(90deg)); }
    }
  }
  .dropdown-menu { margin-top: -8px; padding: 8px 0; min-width: 100%; background: $light-bg; border: none; 
      button { width: 100%; background: transparent; border: none; display: flex; display: -webkit-flex; @include justify-content(space-between);
          &:hover,
          &:focus { color: inherit; }
      }
  }
}

.sidebar { min-width: 440px; padding: 24px; background: #fff;
  .closeMenu { padding: 0; width: 24px; height: 24px; position: absolute; right: 20px; top: 20px; border: 1px solid $border-color; border-radius: 50%; z-index: 1; }
  .item { margin-bottom: 60px; 
    &:last-child { margin-bottom: 0; }
  }
  h4 { margin-bottom: 16px; font-size: 12px; line-height: 17px; color: $font-light; }
  .moreLink { 
    ul { padding-top: 8px; }
    li { margin-bottom: 16px; 
      &:last-child { margin-bottom: 0; }
    }
    a { display: block; padding-left: 8px; font-size: 14px; line-height: 21px; }
  }
  .socialMenu { 
    li { margin-right: 12px;
      &:last-child { margin-right: 0; }
    }
    a { display: block; width: 32px; filter: brightness(0); opacity: 0.8;
      &:hover { opacity: 1; }
    }
  }
  .otherLogo-container{display:flex; flex-direction:column; gap:10px;}
  .otherLogo { width: 116px; max-width: 60%; }
}

.accordian-heading { border-radius: 6px; width: 250px; font-size: 14px; line-height: 24px; font-weight: 600; padding: 8px; background-color: transparent; border: 1px solid #f2f4f7; color: #212529;
  div{display: flex; align-items: center; gap: 8px;}
}
.accordian-list { border-radius: 6px; 
  li{ background-color:#F2F4F7; padding: 12px 8px 12px 12px; font-size: 14px}
}
.accordian-lblimg{width: 24px; height: 24px; padding: 4px; background-color: #A6C8FF; border-radius: 4px; display: flex; align-items: center; justify-content: center}.acordian{display: flex; gap: 24px}.accordian-container{margin: 8px 0px}

/***** Responsive CSS Start ******/
@media (min-width: 1400px) {
  .userDropdown .dropdownMenu { right: 50%; @include transform(translate(calc(50% + 8px))); }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .searchGroup { width: 440px; }
}

@media (min-width: 768px) and (max-width: 991px) {
  .siteHeader {
    .navbar { padding: 12px 0;
      .nav {
        .navLink { margin-left: 9px; }
        .iconItem  {
          svg { width: 26px; height: 26px; }
        }
      }
      .separator { margin-left: 10px; height: 26px; }
    }
    .logo { width: 140px; }
  }
  .langMenu { margin-left: 10px;}
}

@media (max-width: 767px) {
  .siteHeader { 
    .navbar { padding: 10px 0;
      .nav {
        .navLink { margin-left: 9px; }
        .iconItem  {
          svg { width: 28px; height: 28px; }
        }
      }
      .separator { margin-left: 9px; height: 26px; display: none; }
    }
    .logo { width: 140px; }
  }
  .langMenu { margin-left: 9px;}
  .d-md-block { display: none; }
  .acordian{flex-direction:column} 
  .accordian-heading{width: auto}
}

@media (max-width: 575px) {
  .siteHeader { 
    .navbar {
      .separator { margin-left: 6px; }
      .nav {
        .userDropdown > button,
        .navLink { margin-left: 4px;
          &.fillBtn { padding: 6px 10px; }
        }
      }
    }
  }
  .langMenu { margin-left: 6px;}
  .d-sm-inline { display: none; }
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}