$theme-font: 'Poppins', sans-serif;
$theme-font-color: #A5AEB5;
$theme-font-color-black: hsl(218, 21%, 15%);
$theme-color: #1F252F;
$font-color: #016379;
$btn-color: #003085;

// Color
$light-blue: #02AED5;
$darkBlue: #002058;
$blue: #1A619E;
$red: #F95252;
$gray: #7E8796;
$darkGray: #3C434A;
$danger: #EC5555;
$warning: #FF870B;
$success-color: #13CA26;
$hightlight: #FB378E;
$hightlight-bg: #FFE238;
$white: #fff;
$black: #000;