@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/mixins.scss';

.common-section { padding-top: 12px; }
.icon { width: 32px; }
.itemTitle { margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px solid $light; text-transform: uppercase; color: $theme-color; }

/***** Responsive CSS Start ******/
@media (max-width: 575px) {
    .item { border-bottom: 1px solid $light;
        &:not(:first-child) { padding-top: 20px;}
        .itemTitle { margin: 0; padding: 6px 0; border: none; }
        .list > :not(:first-child) & { padding-top: 20px;}
    }
}
