@import '../../assets/scss/helper/variables';

.finalize-post {
  .upload-box {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin: 28px 0px 0;
    padding: 16px;
    border-radius: 8px;
    background: $grey-border-200;
    border: 1px dashed $primary-color;
    .upload-desc {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      width: 100%;

      h6 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        margin-bottom: 46px;
      }

      .browse-btn {
        @include transition(all 0.5s);
        font-size: 20px;
        line-height: 28px;
        width: fit-content;
        margin: 0px auto 22px;
        display: block;
        padding: 9px 59px 5px;
        text-transform: capitalize;
        background: $theme-color;
        color: $grey-color;
        border-radius: 6px;
        &:hover {
          color: $theme-color;
          background: $white;
          cursor: pointer;
        }
      }
      span {
        color: $grey-color;
        font-size: 18px;
        line-height: 27px;
      }
    }
    .change-img-btn {
      @include transition(all 0.5s);
      font-size: 20px;
      line-height: 28px;
      width: fit-content;
      margin: 15px auto 0px;
      display: block;
      padding: 9px 39px 5px;
      text-transform: capitalize;
      background: $black-300;
      color: $grey-color;
      border-radius: 6px;
      &:hover {
        color: $black-300;
        background: $white;
        cursor: pointer;
      }
    }
    .uploaded-file {
      width: 100%;
      height: 190px;
      border-radius: 8px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        &:focus-visible {
          outline: none;
        }
      }
      video {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
  .upload-end-btns {
    .btn {
      width: 48%;
      font-size: 18px;
      line-height: 21px;
      padding: 16px 15px 9px;
    }
  }
  &-tab {
    padding: 60px;
    border-radius: 8px;
    background-color: #242526;
    &-item {
      padding-right: 50px;
      .heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        margin-bottom: 24px;

        &.second {
          margin-bottom: 0;
          margin-top: 20px;
        }
      }
    }
    .select__control {
      background-color: $grey-border-200;
      border-radius: 8px;
      padding: 16px 25px 10px !important;
      position: relative;

      .select__value-container .select__placeholder {
        color: $white !important;
      }
      .select__indicator {
        color: $white;
      }
    }
    .form-group {
      .form-label {
        margin-bottom: 24px;
      }
    }
    .button-footer {
      @include flex(center, space-between, null);
      padding-top: 30px;
      button,
      a {
        width: 100%;
        &:first-child {
          margin-right: 19px;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    padding: 40px 50px;
    &-tab {
      &-item {
        padding-right: 20px;
      }
    }
  }
  @media (max-width: 768px) {
    &-tab {
      padding: 25px;
      &-item {
        padding-right: 10px;
        h6 {
          font-size: 20px !important;
        }
        .browse-btn {
          font-size: 18px;
        }
      }
      .button-footer {
        button,
        a {
          width: 100%;
          min-width: fit-content;
        }
      }
    }
  }
  @media (max-width: 767px) {
    &-tab {
      &-item {
        margin-bottom: 25px;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 30px 20px;
    &-tab {
      padding: 14px;
      &-item {
        padding-right: 0;
      }
    }
    .back-arrow-box {
      margin-bottom: 30px;
      .arrow-heading {
        font-size: 22px;
        padding-left: 14px;
        line-height: normal;
      }
    }
  }
}
