@import '../assets/scss/variables.scss';
@import '../assets/scss/mixins.scss';

.homeArticles { margin-bottom: 30px;
  &:last-child { margin-bottom: 0; }
  .seriesInfo { 
    p { color: $font-light; font-size: 13px; line-height: 17px; }
  }
  .btnList { margin-bottom: 16px; 
      a { margin: 4px; padding: 5px 16px; font-size: 12px; line-height: 17px; color: $border-color; border: 1px solid $border-light; border-radius: 2em;
        &:hover { color: $theme-color; border-color: $theme-color; }
      }
   }
}

@media (max-width: 1199px) {
  .homeArticles {
    .btnList {  
        a { margin: 3px; padding: 4px 12px; }
     }
  }
}