@import "@/assets/scss/helper/mixin";

.shows {

  // ! Details Page Design
  &_details {
    section:last-child {
      padding-bottom: 0;
    }

    section {
      position: relative;
      &:nth-child(1) {
        z-index: 99999;
      }

      &:nth-child(2) {
        z-index: 9999;
      }
      &:nth-child(3) {
        z-index: 9;
      }
    }
  }
}