@import "@/assets/scss/helper/mixin";

.subscription {
    &_heading {
        h6 {
            margin-bottom: 4px;
        }
    }

    h6 {
        @include font-size(18, 28, 400);

        span {
            margin-left: 5px;
        }

    }

    article {
        h6:first-child[class="font-18"] {
            margin-bottom: 12px;
        }
    }

    &_card {
        margin-bottom: 32px;
    }

    &_button {

        button {
        background-color: transparent;
            @include font-size(16, 20, 700);
            color: var(--error-color);
        }
    }
}