@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.keyStats { border-radius: 8px;
   .head { padding: 12px; border-bottom: 1px solid var(--theme-bg);}
   .content { padding: 6px 12px; }
   .item { margin: 0; padding: 16px 0; border-top: 1px solid $border-light;
        span:first-child { width: 100px; }
        &:first-child { border-top: none; }
    } 
}

@media (max-width: 1199px) {
    .keyStats {
        .item { padding: 10px 0;
            &.halfItem { padding: 8px 0; border: none; margin-bottom: 8px;
                &:nth-child(odd) { padding-right: 10px; border-right: 1px solid $border-light; }
                &:nth-child(even) { padding-left: 10px; }
            }
         }
     }
}

@media (max-width: 575px) {
    
}