@import 'assets/scss/helper/variables';


  .single-grid-list{position: relative; padding: 24px; @include transition (all 0.5s); margin-bottom: 16px;
    .grid-inner-link{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
    &:hover{background: $black;}
    .mark-priv-user{ margin-bottom: 17px;
      .user-details{ position: relative; z-index: 1;
        & > a{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
         .check-img{display: none; position: absolute; bottom: -2px; right: -2px; width: 15px; height: auto; border-radius: 0px;}
        img{ width: 34px; height: 34px; border-radius: 50%; }
        &.checkStar{
          .check-img{display: block;}
        }
        img{ width: 34px; }
        .user-id{font-size: 22px; line-height: 30px; font-weight: 500; display: inline-block; margin: 10px 0px 0px 13px;}
      } 
      .dropdown{
        .btn{background: transparent; padding: 0px; border: none;
          &::after{content: ''; display: none;}
          &:focus{@include box-shadow(none);}
          &:focus-visible{outline: none;}
        }
        .dropdown-menu{
          &.show{@include transform(translate(-100%, 26px) !important); background: $bg-primary; padding: 0px;
            a{padding: 14px 19px 9px; color: $white; font-size: 18px; line-height: 24px;
              &:hover{background: $white; color: $theme-color;}
            }
          }
        }
      }
    }
    figure{margin: 0px;
      img{width: 100%; height: 346px; object-fit: cover;}
      .img-title{font-size: 34px; line-height: 42px; display: block; margin: 30px 0px 21px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;width: 80%;}
      .img-title-desc{font-size: 20px; line-height: 28px; margin: 0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
    }
  
   .coll-priv-btn{ margin-top: 24px; padding-bottom: 32px; border-bottom:1px solid rgba(255, 255, 255, 0.44);
      .btn{min-width: 48.8%; font-weight: 600;}
    }
    .auction{padding: 14px 0px 22px; border: 1px solid  rgba(255, 255, 255, 0.44); border-left: none; border-right: none;
     .auc-inner{
      align-items: center;
      .auction-starts-ends .asset-list-timer{
        @include flex(center, space-between, null);        
      span{margin-right: 10px;color:$primary-color;font-size: 18px;font-weight: 400;}
      strong{font-size: 28px;font-weight: 500;}
      }
     }
      .wishlist-btn{@include transition(all 0.5s); background: $secondary-black url('../../../assets/images/css-img/white-heart.svg') no-repeat center center / 20px; border: none; width: 44px; height: 44px; border-radius: 50%;
        &:hover{background: $white url('../../../assets/images/css-img/pink-heart.svg') no-repeat center center / 20px; }
        &.active{background: $white url('../../../assets/images/css-img/pink-heart.svg') no-repeat center center / 20px; }
      }
      .auc-end{
        span{margin-right: 11px; font-size: 18px; line-height: 28px; color: $primary-color; font-weight: 500;}
        h6{margin-bottom: 0px;}
      }
      // .price-bid{margin-top: 18px;
      //   .price-sec{
      //     h5{margin-bottom: 0px; font-size: 30px; line-height: 36px;}
      //     span{font-size: 20px; line-height: 24px;}
      //   }
      //   .white-btn{font-weight: 600;}
      // }
    }
    .price-bid{margin-top: 18px; position: relative; z-index: 1;
      .price-sec{
        h5{margin-bottom: 0px; font-size: 30px; line-height: 36px;font-weight: 400;}
        span{font-size: 20px; line-height: 24px;}
      }
      .white-btn{font-weight: 600;}
    }
  }

 
  

@media(min-width: 1400px) and (max-width: 1699px) {

  .single-grid-list{ padding: 20px 18px;
    .mark-priv-user{
      .user-details{
        .user-id{font-size: 20px; line-height: 28px; margin: 8px 0px 0px 13px;}
      }
    }
    .coll-priv-btn{margin-top: 20px; padding-bottom: 22px;
      .btn{min-width: 130px; width: 130px;}
    }
    figure {
      img{height: 305px;}
      .img-title{font-size: 26px; line-height: 34px; margin: 21px 0px 12px;}
      .img-title-desc{font-size: 18px; line-height: 28px;}
    }
    .auction{
      .auc-end{
        span{font-size: 15px; line-height: 23px;}
      }
      .wishlist-btn{width: 40px; height: 40px; background-size: 18px;}
    }
    .price-bid{
      .price-sec{
        span{font-size: 16px; line-height: 24px;}
        h5{font-size: 26px; line-height: 32px;}
      }
    }
    
  }
  
 
}

@media(max-width: 1440px) {
  .single-grid-list .asset-list-timer strong{font-size: 18px !important;}
}
// @media (max-width: 1399px){.auction .auc-inner{strong{font-size: 24px !important}}}
@media(min-width: 1200px) and (max-width: 1399px) {
 
  .single-grid-list{ padding: 20px 14px;
    .mark-priv-user{ margin-bottom: 15px;
      .user-details{ 
        .user-id{font-size: 18px; line-height: 26px; margin: 9px 0px 0px 10px;}
        .grid-user-img{
          img{ width: 30px; height: 30px;}
        }
      }
    }
    .coll-priv-btn{margin-top: 18px; padding-bottom: 22px;
      .btn{min-width: 115px; width: 115px;}
    }
    figure{
      .img-title{font-size: 22px; line-height: 32px; margin: 18px 0px 12px;}
      img{height: 205px;}
      .img-title-desc{font-size: 16px; line-height: 26px;}
    }
    .auction{
      .auc-end{
        span{font-size: 15px; line-height: 23px;}
        h6{font-size: 20px; line-height: 28px;}
      }
      .wishlist-btn{width: 35px; height: 35px; background-size: 15px;}
    }
    .price-bid{
      .price-sec{
        span{font-size: 16px; line-height: 24px;}
        h5{font-size: 26px; line-height: 32px;}
      }
      .white-btn{min-width: 112px;  padding: 14px 12px 8px;}
    }
  }

 
}

@media(min-width: 992px) and (max-width: 1199px) {
  .common-grid-section{
    &.common-desc-padding{
      padding: 75px 0px 45px;
    }
  }
  .single-grid-list{ padding: 20px 14px; margin-bottom: 20px;
    .mark-priv-user{ margin-bottom: 15px;
      .user-details{ 
        .user-id{font-size: 18px; line-height: 26px; margin: 9px 0px 0px 10px;}
         .grid-user-img { 
              .check-img{ width: 15px; height: auto;}
              img{width: 28px; height: 28px;}
            }
      }
    }
    .coll-priv-btn{margin-top: 20px; padding-bottom: 24px;
      .btn{min-width: 115px; width: 115px;}
    }
    figure{
      .img-title{font-size: 22px; line-height: 32px; margin: 18px 0px 12px;}
      img{height: 250px;}
      .img-title-desc{font-size: 18px; line-height: 26px;}
    }
    .auction{
      .auc-end{
        span{font-size: 15px; line-height: 23px;}
        h6{font-size: 22px; line-height: 28px;}
      }
      .wishlist-btn{width: 35px; height: 35px; background-size: 16px;}
    }
    .price-bid{
      .price-sec{
        span{font-size: 16px; line-height: 24px;}
        h5{font-size: 28px; line-height: 38px;}
      }
      .white-btn{min-width: 130px;  padding: 14px 12px 8px;}
    }
  }
  
}

@media(min-width: 768px) and (max-width: 991px) {
  .common-grid-section{
    &.common-desc-padding{
      padding: 65px 0px 35px;
    }
  }
  .single-grid-list{ padding: 20px 14px; margin-bottom: 20px;
    .mark-priv-user{  margin-bottom: 15px;
      .user-details{ 
        .user-id{font-size: 18px; line-height: 26px; margin: 9px 0px 0px 10px;}
        .grid-user-img { 
              .check-img{ width: 15px; height: auto;}
              img{width: 28px; height: 28px;}
            }
      }
    }
    .coll-priv-btn{margin-top: 20px; padding-bottom: 24px;
      .btn{min-width: 153px; width: 153px; padding: 16px 0px;}
    }
    figure{
      img{height: 250px;}
      .img-title{font-size: 24px; line-height: 32px; margin: 18px 0px 12px;}
      .img-title-desc{font-size: 18px; line-height: 26px;}
    }
    .auction{
      .auc-end{
        span{font-size: 15px; line-height: 23px;}
        h6{font-size: 24px; line-height: 30px;}
      }
      .wishlist-btn{width: 44px; height: 44px; background-size: 16px;}
    }
    .price-bid{
      .price-sec{
        span{font-size: 16px; line-height: 24px;}
        h5{font-size: 28px; line-height: 38px;}
      }
      .white-btn{min-width: 148px;}
    }
  }

}

@media (max-width: 767px) {
  .common-grid-section{
    .common-grid-title{
      .white-border-btn{display: none;}
    }
    .common-grid-list {
      .col-md-6{
        &:last-child{
          .single-grid-list{margin-bottom: 0px;}
        }
      }
    }
  }
  .single-grid-list{ padding: 0px; margin-bottom: 30px;
    &:hover{background: none;}
    .mark-priv-user{  margin-bottom: 15px;
      .user-details{
        .user-id{font-size: 18px; line-height: 26px; margin: 10px 0px 0px 10px;}
         .grid-user-img { 
              .check-img{ width: 15px; height: auto;}
              img{width: 32px; height: 32px;}
            }
      }
    }
    .coll-priv-btn{margin-top: 20px; padding-bottom: 16px; border-bottom: 1px solid $grey-border-200;
      .btn{min-width: 135px; width: 135px; padding: 16px 0px;}
    }
    .dropdown {
      .dropdown-menu{
        &.show{@include transform(translate(-0%, 26px) !important);}
      }
    }
    figure{
      img{height: 195px;}
      .img-title{font-size: 24px; line-height: 32px; margin: 18px 0px 13px;}
      .img-title-desc{font-size: 20px; line-height: 28px;}
    }
    .auction{ padding: 13px 0px 16px; border: 1px solid $grey-border-200; border-left: none; border-right: none;
      .auc-end{
        span{font-size: 16px; line-height: 24px;}
        h6{font-size: 20px; line-height: 30px;}
      }
      .wishlist-btn{width: 44px; height: 44px; background-size: 16px;}
    }
    .price-bid{
      .price-sec{
        span{font-size: 20px; line-height: 28px;}
        h5{font-size: 24px; line-height: 34px;}
      }
      .white-btn{min-width: 145px; }
    }
  }
}