@import 'assets/scss/helper/variables';

.asset-detail-page {
  height: 80vh;
  .asset-detail {
    margin: 0px 38px;
    padding: 120px 67px;
    background: $skin-color;
    height: 80vh;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  .asset-detail-page {
    .asset-detail {
      padding: 100px 20px;
      margin: 0px 30px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .asset-detail-page {
    .asset-detail {
      padding: 70px 20px;
      margin: 0px 25px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .asset-detail-page {
    .asset-detail {
      padding: 50px 20px;
      margin: 0px 25px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .asset-detail-page {
    .asset-detail {
      padding: 50px 20px;
      margin: 0px 24px;
    }
  }
}

@media (max-width: 767px) {
  .asset-detail-page {
    .asset-detail {
      padding: 45px 10px;
      margin: 0px 12px;
    }
  }
}

@media (max-width: 576px) {
  .asset-detail-page .asset-detail .asset-detail-content .owned-asset-links ul li {
    flex-direction: column;
  }
}