@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/mixins.scss';

.icon { width: 24px; }
.itemTitle { margin: 0 0 8px; padding: 0 0 8px; border-bottom: 1px solid var(--light); text-transform: uppercase; color: var(--theme-color-medium); }
.itemTitle b { display: flex; align-items: center; }

