@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss'; 

.commonNav { margin: 0px 0px 16px; padding: 6px 8px; background: var(--light-mode-bg); border-radius: 2em; 
  .item { margin: 0px 7px; @include flex-grow(0);
    a, button { padding: 5px 8px; background: transparent;
      &:hover { color: $theme-color; }
      &.active { background: $theme-light; color: $font-color; }
    }
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
  &.themeLightNav {  background: $theme-light;
    a.active { background: #fff; }
}
}

/***** Responsive CSS Start ******/

@media (max-width: 1199px) {
  .commonNav { 
    .item { margin: 0px 4px; }
  }
}

@media (max-width: 992px) {
  .commonNav { 
    .item { margin: 0px 3px; }
  }
}

@media (max-width: 575px) {
  .commonNav { margin: 0px -12px 12px; border-radius: 0; }
}
