@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.name { color:var(--font-color-light); }
.probabilityBg {
  border: 1px solid var(--border-light);
  cursor: pointer;
}
.widgetBG{
  margin-bottom: 8px;
  &:last-child{
    margin-bottom: 0px;
  }
}
.probability { @include transition($common-transition); height: 34px; background: rgba($theme-medium2,0.5);
  &.active { background: rgba($theme-medium2,1) }
}
.value { width: 52px; }
