.worklog_p {
    cursor: pointer;
    font-size: 14px;
    color: #445774;
    width: max-content;
    margin-top: 14px;
    margin-right: 12px;
}

.worklogTag {

    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    margin-bottom: 0;

    .workList {
        background: #F1F6F9;
        list-style: none;
        padding: 5px 7px;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
    }

    .workList-Check {
        background: #379FFF;
        color: white;
        list-style: none;
        padding: 5px 7px;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
    }

}

.form-check {
    margin-top: 9px;
    margin-left: 10px;

    .form-check-input {
        margin-right: 5px;
    }

    .form-check-label {
        margin-top: 4px;
    }
}