<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Meetanshi_IndianGst::meetanshi_report"  title="GST Report" module="Meetanshi_IndianGst" sortOrder="30" parent="Magento_Sales::sales" resource="Meetanshi_IndianGst::meetanshi_report"/>
        <add id="Meetanshi_IndianGst::manage_item" title="GST Orders Report" module="Meetanshi_IndianGst" parent="Meetanshi_IndianGst::meetanshi_report" sortOrder="80" resource="Meetanshi_IndianGst::meetanshi_report" action="indiangst/report"/>
    </menu>
</config>



