@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins.scss';

.playerInfo { padding: 0; background: var(--light-mode-bg) no-repeat left center / auto 100%; overflow: hidden; }
.playerPic { width: 180px; height: 180px; }
.info { margin-bottom: -16px; }