@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.timeline {
    position: sticky;
    height: fit-content;
    top: 70px;
    min-width: 210px;
    width: 210px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    .timelineTitle{
        font-size: 17px;
        line-height: 24px;
        padding: 6px;
        margin: 0 0 10px;
    }
    .timelineList{
        display: flex;
        flex-direction: column;
        height: 500px;
        padding: 10px;
        overflow-y: scroll;
        .timelineCard{
            margin: 0px 0 10px;
            position: relative;
            :not(:last-child) &::after{
                content: '';
                z-index: -1;
                position: absolute;
                top: 0px;
                left: -1px;
                height: calc( 100% + 5%);
                border-left: 1px solid var(--border-light);
            }
            padding-top: 0;
            .title{
                padding: 12px 0 0 20px;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
                transition: 0.1s color ease-in;
                &:hover{
                    text-decoration: underline;
                    text-decoration-style: dotted;
                    -moz-text-decoration-style: dotted;
                    color: var(--theme-color-medium);
                }
            }
            .date {
                left: 20px;
                font-size: 10px;
                position: absolute;
                font-weight: 600;
                top: -10px;
            }
        }
    }
}


@media (max-width: 400px) {
.timeline {
    .timelineList {
        height: 320px;
    }
  }
}
