@import '../../../../../assets/scss/_variables.scss';
@import "../../../../../assets/scss/mixins.scss";

.followUs { background: var(--theme-light); border-radius: 8px;
  p { color: var(--theme-dark2); }
}
.followList { width: calc(100% - 110px);  }
.justify-content-around { justify-content: space-around;}