<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Craftroots\Assistance\Api\Data\AssistanceInterface" type="Craftroots\Assistance\Model" />
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Craftroots\Assistance\Model\Mail\Template\TransportBuilder" />
    <virtualType name="Craftroots\Assistance\Model\ResourceModel\Assistance\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">craftroots_assistance</argument>
            <argument name="resourceModel" xsi:type="string">Craftroots\Assistance\Model\ResourceModel\Assistance</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="craftroots_assistance_list_data_source" xsi:type="string">Craftroots\Assistance\Model\ResourceModel\Assistance\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
</config>