@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.bannerSection { padding: 50px 0px 60px; background: $theme-color url('../../assets/images/common-banner.jpg') center center / cover;
}
.formBlock { margin-top: -40px;
}
.contactInfo { border-bottom: 1px solid $border-medium; 
  p { margin: 16px 0; }
  span { min-width: 24px; }
  svg { width: 24px; height: 24px; }
}
.socialMenu { 
  li { margin-right: 8px;
    &:last-child { margin-right: 0; }
  }
  g,path { fill: $border-color; }
  a:hover {
    g,path { fill: $theme-color; }
  } 
}

@media (min-width: 768px) and (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
  
  
}