@import 'assets/scss/helper/variables';
.communities {
    padding: 60px 0 0 0;
  .col-xxl-4{
    margin-bottom: 48px;
  }

  @media (min-width: 1700px) and (max-width: 1920px) {
    padding: 65px 165px 65px 165px;
  }
  @media (min-width: 1400px) and (max-width: 1699px) {
    padding: 40px 20px 0 20px;
  }
  @media (min-width: 1200px) and (max-width: 1399px) {
    padding: 40px 0 0 0;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 40px 0 0 0;
  }
  @media (max-width: 767px) {
    // .CommunitySideBar-item{margin-top: 30px;}
    .col-md-2{display: none;}
    .col-xxl-4{
      margin-bottom: 40px;
    }
   }
}
