@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/mixins.scss';

.winPrediction { background: var(--theme-light);}
.flag { width: 32px; overflow: hidden; border-radius: 50%; }
.icon { width: 24px;
    [data-mode="dark"] & { @include filter(brightness(0) invert(1) opacity(0.4)); }
}
