@import "@assets/scss/variables.scss";
@import "@assets/scss/mixins.scss";

.article-ads {
  margin-left: -30px;
  width: calc(100% + 60px);
}

@media (max-width: 1199px) {
  .article-ads {
    margin-left: -24px;
    width: calc(100% + 48px);
  }
}

@media (max-width: 575px) {
  .article-ads {
    margin-left: -12px;
    width: calc(100% + 24px);
  }
}
