@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/mixins.scss';

a { color: var(--theme-color-medium); }
.item { background: var(--theme-light2); margin-bottom: 8px;
    &:last-child { margin-bottom: 0;}
    a { color: var(--theme-color-medium); }
    p:last-child { margin-bottom: 0; }
}
.itemInfo .text-muted { margin-bottom: 8px;}
.timer {
    h4 {
        span { margin: 0px 2px 2px; padding: 1px 9px; background: var(--theme-light); border-radius: 8px; }
    }
    p { justify-content: space-around;}
}
.broadcastItem { padding: 8px 0px; }
.broadcast { text-align: left; 
    + .broadcast { border-left: 1px solid var(--light); }
}
.broadcastIcon { width: 24px; }

/***** Responsive CSS Start ******/
@media (min-width: 768px) {
    .time { padding: 8px 18px; border: 1px solid var(--light); border-radius: 12px; }
}


