@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.team { height: calc(100% - 24px); 
    &:hover { @include box-shadow(0px 6px 16px rgba($theme-medium , 0.48)); }
}
.teamLogo { width: 112px; height: 112px; }

/***** Responsive CSS Start ******/

@media (max-width: 575px) {
    .team { height: inherit; }
    .teamLogo { width: 54px; height: 54px; }
    .name { font-size: 16px; line-height: 22px; }
}
