<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Craftroots_Base::manager" title="CraftRoots" module="Craftroots_Base" sortOrder="40" resource="Craftroots_Base::manager"/>
       
    </menu>
</config>