// @import '../../../../assets/amp/common/style.scss';
@import '../../../../assets/scss/_variables.scss';
@import '../../../../assets/scss/_mixins.scss';

.text-danger{color:#f14f4f}
.common-section.pb-0 { padding-bottom: 0; }
.articleBlockSec { padding: 5px 0px 10px; }
.postTitle { font-size: 18px; line-height: 22px; color: var(--font-color-light); }
.articleBlock { margin: 0px -12px; padding: 16px 12px; background: var(--light-mode-bg); }
.advFeature { padding: 2px 12px; font-size: 11px; line-height: 16px; border-radius: 2em; max-width: 100%; background: var(--theme-light); color: var(--font-color); font-weight: 500; 
  .icon { margin-right: 2px; width: 24px; 
    @media (prefers-color-scheme: dark) {
      filter: brightness(0) invert(1) opacity(0.7);
    }
  }
}
.subTitle { font-weight: 500; font-size: 14px; line-height: 19px; border-top: 1px solid var(--border-light); }
.authorBlock {
  .views svg { margin-right: 6px; width: 28px; height: 28px; }
  .dates {  width: 100%; }
  
}
amp-ad { display: block; margin: 0px auto 12px; }

.author {
  .verfied { width: 18px; height: 18px; background: url(/static/verified_badge.svg) no-repeat center center / cover; border-radius: 50%; vertical-align: middle; }
  // .authorImg { width: 44px; height: 44px; border-radius: 50%; overflow: hidden; }
}
.articlePage .follow.theme-btn { margin: 0 6px; padding-left: 48px; position: relative; 
  > span { position: absolute; width: 40px; left: -2px; top: 50%; @include transform(translateY(-50%)); }
}
.content { font-size: 16px; line-height: 24px; color: var(--font-secondary);
  p { margin-bottom: 14px; }
  a { color: var(--theme-color-medium); text-decoration: underline;
    &:hover { color: $theme-font; }
  }
  ul, ol { margin-bottom: 14px; padding-left: 20px; font-size: 16px; line-height: 27px; font-weight: 700; }
  ul { list-style: disc; }
  ol { list-style: decimal; }
  li { padding-left: 10px; }
  blockquote { margin-bottom: 14px; padding: 16px 16px 20px 66px; background: $theme-light url(/static/quote-icon.svg) no-repeat 16px 14px / 40px auto; font-size: 21px; line-height: 32px; color: $theme-dark2; font-style: italic; border-radius: 16px; }
  .table-responsive,
  .table-scroller { margin-bottom: 16px; overflow-x: auto; -webkit-overflow-scrolling: touch; }
  table { margin: 0px; width: 100%; font-size: 14px; line-height: 20px; border-spacing: 0 4px; border-collapse: separate; border: none; white-space: nowrap;
    p { margin: 0; }
    tr:first-child { 
      th, td { background: $theme-color; font-weight: 600; color: $light-color; }
    }
    th, td { padding: 3px 14px; height: 42px; background: var(--light-bg); border: none;
      &:first-child { border-radius: 8px 0 0 8px; }
      &:last-child { border-radius: 0 8px 8px 0; }
    }
  }
  amp-img { margin-bottom: 24px; width: 100%; max-width: 100%; height: auto; }
}
figure {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  img {
    margin-bottom: 0px;
    border-radius: 16px;
  }
  figcaption {
    font-style: italic;
    color: #7b7b7b;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 5px;
    &:empty {
      display: none;
    }
  }
}
.postImg { position: relative; margin-bottom: 24px; border-radius: 16px; overflow: hidden;
  .captionBlock { position: absolute; left: 12px; bottom: 12px; width: calc(100% - 24px); }
  .icon { border-radius: 16px; position: absolute; bottom: 0; left: 0; width: 24px; height: 24px; background: var(--light-mode-bg); cursor: pointer; z-index: 2;
    img {
      @media (prefers-color-scheme: dark) {
        @include filter(brightness(0) invert(1) opacity(0.7)); 
      }
    }
  }
  .overlay { max-width: 100%; padding: 4px 10px 4px 26px; line-height: 16px; border-radius: 12px; @include transition($common-transition);
    background: var(--light-mode-bg);
    * { margin: 0;}
  }
}
.liveUpdate {
  background: var(--light-bg);
  padding: 3px 8px;
  margin-top: -4px;
  border-radius: 8px;
  display: inline-block;
  .liveIcon{
      margin: 0px 8px 0px 4px;
      position: relative;
      top: -1px;
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 50%;
      background: $danger;
      box-shadow: 0 0 0 3px rgba($danger, 0.5), 0 0 0 6px rgba($danger, 0)
      // animation: ripple 0.7s linear infinite;
  }
}
// @keyframes ripple {
//     0% {
//         box-shadow: 0 0 0 0 rgba($danger, 0.6), 0 0 0 3px rgba($danger, 0.5)
//     }
//     100% {
//         box-shadow: 0 0 0 3px rgba($danger, 0.5), 0 0 0 6px rgba($danger, 0),
//     }
// }
.iframeVideo { max-width: 520px; border-radius: 16px; overflow: hidden;}
.tagList {
  span { margin: 4px; display: inline-block; padding: 4px 16px; background: var(--theme-light); color: var(--theme-color-light); font-weight: 600; border-radius: 2em; }
}
.views {
  .icon { width: 20px; margin-right: 4px;
    &.clock { width: 16px; margin-left: 4px; margin-right: 6px;}
  }
}
.social-share amp-social-share { margin: 0px 8px; border-radius: 8px; background-size: auto 80%; }
.custom-native-share { margin-top: -4px; background: var(--light-bg); border: none; border-radius: 50%;
  &:focus { outline: none; box-shadow: none;}
  .icon { width: 20px; height: 20px; background: url(/static/share-dark-icon.svg) no-repeat center center / 100% auto;
    @media (prefers-color-scheme: dark) {
      filter: brightness(0) invert(1) opacity(0.7);
    }
  }
}
@media (max-width: 991px) {
  .content {
    blockquote { font-size: 18px; line-height: 30px; }
    table { margin: -4px 0px 4px; border-spacing: 0 6px;
      th, td { padding: 4px 10px; height: 40px;
        &:first-child { border-radius: 4px 0 0 4px; }
        &:last-child { border-radius: 0 4px 4px 0; }
      }
    }
  }
}

@media (max-width: 767px) {
  .articlePage .follow.theme-btn { margin: 12px 4px 0; padding-left: 44px; }
  .dates p {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .postImg { margin: 0 -12px 12px; border-radius: 0px; }
  .content {
    blockquote { padding: 62px 16px 20px 16px; }
    ul, ol { padding-left: 18px; font-size: 14px; line-height: 24px; }
    li { padding-left: 8px; }
    .table-responsive,
    .table-scroller { margin-bottom: 12px; }
    table { margin: -3px 0px 3px; border-spacing: 0 6px; font-size: 13px;
      th, td { padding: 2px 5px; height: 30px;
        &:first-child { border-radius: 3px 0 0 3px; padding-left: 10px; }
        &:last-child { border-radius: 0 3px 3px 0; padding-right: 10px; }
      }
    }
  }
}

