.c-winner {
    .h-w {
        padding: 10px 15px;
        border-bottom: 1px solid #e1e7ec;
        .hw-b {
            width: 33.33%;
            p {
                font-size: 14px;
                color: $gray;
            }
            h4 {
                margin: 0;
                color: $darkGray;
                font-size: 16px;
            }
        }
    }
    .s-winner {
        li {
            width: 100%;
            max-width: 400px;
            padding: 0 15px;
            margin: 15px auto 0 auto;
            list-style-type: none;
            input:checked ~ label{
                border-color: #13CA26;
                &:before{
                    background-color: #009300;
                    box-shadow: 0 0 0 2px #009300;
                    border-width: 2px;
                    border-color: #FFF;
                }
            }
            label {
                border: 2px solid #96C5EE;
                width: 100%;
                padding: 10px;
                position: relative;
                cursor: pointer;
                @include css3-prefix("border-radius", "4px");
                &:before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border: 2px solid $gray;
                    border-radius: 100%;
                    transition: all 0.3s ease-in-out;
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
                h3 {
                    color: $darkGray;
                    font-size: 16px;
                    padding-bottom: 5px;
                }
                .item {
                    margin-top: 10px;
                    span {
                        width: 33.33%;
                        font-size: 14px;
                        color: $gray;
                    }
                }
            }
        }
    }
}
