@import "../helper/mixin/";

form {
    .form-group {
        margin-bottom: 24px;
        position: relative;

        .form-label {
            text-transform: capitalize;
            color: var(--white-color);
            margin-bottom: 12px;
            @include font-size(16, 20, 600)
        }

        .form-check,
        .form-control {
            padding: 12px 23px;
            border-radius: 4px !important;
            background: var(--neutrals-white-color);
            border: 1px solid var(--neutrals-white-color);
            color: var(--white-color);
            @include font-size(14, 20, 400);
            border: none !important;

            &:invalid {
                border-bottom: 2px solid #DE3730;
            }

            &::placeholder {
                color: var(--neutrals-70-color);
            }

            &:focus {
                box-shadow: none;
            }

            &::-ms-expand {
                display: none;
            }

            &:not(:read-only):focus {
                color: var(--white-color);
            }
        }

        &.input-group {
            .form-control {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-left: none;
                margin-left: 0 !important;
                padding-left: 0;
            }

            .input-group-text {
                background: var(--neutrals-white-color);
                border: 1px solid var(--neutrals-white-color);
                border-right: none;
                color: var(--white-color);
                padding-right: 8px;
                border: none;
                @include font-size(14, 20, 400);
            }

            img {
                margin-right: 5px;
                width: 18px;
                height: 18px;
            }
        }
    }

    .invalid-feedback {
        display: block;
        color: var(--error-color);
        text-align: left;
        @include font-size(12, 18, 400);
        margin-top: 12px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .otp-group {
        >div {
            justify-content: space-between;
        }

        .opt-input input {
            padding: 16px 20px;
            width: 86.75px !important;
            height: 54px;
            background: var(--neutrals-white-color);
            border-bottom: 2px solid #DE3730;
            border-radius: 4px;
            border: none;
            color: var(--white-color);
            outline: none;
        }

        &.size-small input {
                width: 76.75px !important;
            
        }
    }
}