@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/mixins.scss';

.icon {
    position: absolute;
    left: -10px;
    top: -14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--light-mode-bg);
}

.date {
    text-transform: uppercase;
    font-style: italic;
    position: absolute;
    top: -10px;
    background-color: var(--light-mode-bg);
}

.liveBox {
    border-top: 1px solid var(--border-light);
    position: relative;
}

.liveBox {
    &:not(.iconBox)::before {
        @extend %after-before;
        left: -5px;
        top: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: gray;
    }

    &.liveBoxFirst:first-child {
        &::before {
            width: 10px;
            height: 10px;
            background: $danger;
            box-shadow: 0 0 0 6px rgba($danger, 0.4), 0 0 0 9px rgba($danger, 0);
        }
    }
}