.secrets-container {
  padding: 20px;
  background-color: $black-700;
  border-radius: 8px;
  .important-note {
    margin-top: 20px;
    padding: 10px;
    font-size: $fs-14;
    color: $red-300;
    background-color: $red-100;
    border-radius: 8px;
  }
}
