@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.login { font-size: 12px; line-height: 18px;
  .innerCol { padding: 0px 58px; }
  .innerSmall { padding: 0px 30px; }
  .infoText { font-size: 14px; line-height: 19px; color: $border-color; }
  .shareBtn { padding: 6px 12px; width: 100%; font-size: inherit; line-height: inherit; text-align: center; border: 1px solid $border-light; font-weight: 700; border-radius: 2em;
    &.facebook { border-color: #4267b2; background: #4267b2; color: #fff; }
    &.google { color: $font-color; }
    span { margin-left: 6px; }
  }
  h3 { margin: 8px 0 4px; }
}
.lineTitle { width: 344px; }
.infoBlock { min-height: 285px; position: relative; }
.joinText { margin-bottom: 11px; }
.orBlock { position: absolute; height: 100%; left: 0; top: 0; @include transform(translateX(-50%));
  &::after {
    @extend %after-before;
    height: 100%;
    width: 1px;
    left: 50%;
    @include transform(translateX(-50%));
    background: -moz-linear-gradient(
      top,
      rgba(167, 172, 180, 1) 0%,
      rgba(167, 172, 180, 0) 36%,
      rgba(167, 172, 180, 0) 64%,
      rgba(167, 172, 180, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(167, 172, 180, 1) 0%,
      rgba(167, 172, 180, 0) 36%,
      rgba(167, 172, 180, 0) 64%,
      rgba(167, 172, 180, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(167, 172, 180, 1) 0%,
      rgba(167, 172, 180, 0) 36%,
      rgba(167, 172, 180, 0) 64%,
      rgba(167, 172, 180, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7acb4', endColorstr='#a7acb4',GradientType=0 );
  }
  &.orHLine { margin: 22px 0px 16px; position: relative; @include transform(translateY(0%));
    &::after {
      @include transform(translateY(-50%)); width: 100%; height: 1px; left: 0; top: 50%;
      background: -moz-linear-gradient(
        right,
        rgba(167, 172, 180, 1) 0%,
        rgba(167, 172, 180, 0) 36%,
        rgba(167, 172, 180, 0) 64%,
        rgba(167, 172, 180, 1) 100%
      );
      background: -webkit-linear-gradient(
        right,
        rgba(167, 172, 180, 1) 0%,
        rgba(167, 172, 180, 0) 36%,
        rgba(167, 172, 180, 0) 64%,
        rgba(167, 172, 180, 1) 100%
      );
      background: linear-gradient(
        to left,
        rgba(167, 172, 180, 1) 0%,
        rgba(167, 172, 180, 0) 36%,
        rgba(167, 172, 180, 0) 64%,
        rgba(167, 172, 180, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7acb4', endColorstr='#a7acb4',GradientType=0 );
    }
  }
}
.otpContainer { margin: 0px auto; padding-left: 11px; position: relative; width: 134px; overflow: hidden;
  border-bottom: 1px solid $border-input;
  // &:after { @extend %after-before; width: 100%; height: 2px; background: red; bottom: 0; left: 0; 
  //   background: -webkit-linear-gradient(left,  
  //   rgba(222,223,227,1) 0%,rgba(222,223,227,1) 24%,rgba(222,223,227,0) 25%,rgba(222,223,227,0) 26%, rgba(222,223,227,1) 27%, 
  //   rgba(222,223,227,1) 48%,rgba(222,223,227,1) 49%,rgba(222,223,227,0) 50%,rgba(222,223,227,0) 51%, rgba(222,223,227,1) 52%, 
  //   rgba(222,223,227,1) 73%,rgba(222,223,227,1) 74%,rgba(222,223,227,0) 75%,rgba(222,223,227,0) 76%, rgba(222,223,227,1) 77% );    
  // }
  input { width: 100%; overflow: hidden;}
  .hideCursor { caret-color: rgba(0,0,0,0); }
}
.otpInput { padding: 8px 0; border: none; letter-spacing: 22px; }
.pointerBtn { cursor: pointer; }

@media (min-width: 768px) and (max-width: 991px) {
  .login {
    .innerCol { padding: 0px 36px;
    }
  }
}

@media (max-width: 767px) {
  .login {
    .innerCol { padding: 0px 15px; }
  }
  .lineTitle { width: 280px; }
  .infoBlock { min-height: initial; }
  .lineTitle { margin: 8px 0 12px; width: 100%; order: 3;
    h4 { border: none;
      &::after,
      &::before { display: none; }
    }
  }
  .orBlock { margin: 12px 0px 16px; position: relative; @include transform(translateY(0%));
    &::after { @include transform(translateY(-50%)); width: 100%; height: 1px; left: 0; top: 50%;
      background: -moz-linear-gradient( right, rgba(167, 172, 180, 1) 0%, rgba(167, 172, 180, 0) 36%, rgba(167, 172, 180, 0) 64%, rgba(167, 172, 180, 1) 100% );
      background: -webkit-linear-gradient( right, rgba(167, 172, 180, 1) 0%, rgba(167, 172, 180, 0) 36%, rgba(167, 172, 180, 0) 64%, rgba(167, 172, 180, 1) 100% );
      background: linear-gradient( to left, rgba(167, 172, 180, 1) 0%, rgba(167, 172, 180, 0) 36%, rgba(167, 172, 180, 0) 64%, rgba(167, 172, 180, 1) 100% );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7acb4', endColorstr='#a7acb4',GradientType=0 );
    }
  }
  .joinText { margin-bottom: 16px; order: 4; }
  .shareList { margin: 0 -8px;
    button { margin: 0 8px; }
  }
}