$primary-font: 'founders_grotesk';

$white: #ffffff;
$white-100: #e9e9e9;
$white-50: #ffffffcc;
$black: #000000;
$theme-color: #171717;
$skin-color: #fffaf3;
$primary-color: #999999;
$green-color: #c7ffbd;
$green-200: #d2fcc3;

$secondary-black: #2a2a2a;
$grey-color: #dddddd;
$pink-color: #ed7c70;
$danger: #ff0000;
$bg-primary: #333333;
$grey-border: #545454;
$header-text-color: #555555;
$success: #128807;
$success-bg: #9ad9be;
$danger-bg: #ffcccc;

$red-100: #ed7c70;

$green-100: #94d402;

$red-100: #ff5745;

$grey-100: #5a5a5a;
$grey-200: #bac7d4;
$grey-300: #666666;
$grey-400: #484848;
$grey-500: #3a3b3c;
$grey-border-100: #4f4f4f;
$grey-border-200: #444444;
$grey-border-300: #aeaeae;
$grey-border-400: #656565;
$grey-border-500: #585858;
$grey-border-600: #b1b1b1;

$black-100: #2b2b2b;
$black-200: #272727;
$black-300: #010101;
$black-400: #1a1a1a;
$black-500: #0c121c;
$black-600: #030303;

$skin-100: #fef7f1;
$skin-200: #f1e8dc;
$skin-300: #eaeaea;
$cycle: #ccc;

@mixin flex($items, $justify, $direction) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: $items;
  justify-content: $justify;
  flex-direction: $direction;
}

// @include flex(center, center, null);

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin textEllipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// @include textEllipsis();

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  box-shadow: $property;
}
@mixin filter($property) {
  -webkit-filter: $property;
  filter: $property;
}
@mixin flex-shrink($property) {
  -webkit-flex-shrink: $property;
  flex-shrink: $property;
}
@mixin flex-grow($property) {
  -webkit-flex-grow: $property;
  flex-grow: $property;
}
@mixin flex-wrap($property) {
  -webkit-flex-wrap: $property;
  flex-wrap: $property;
}
@mixin flex-direction($property) {
  -webkit-flex-direction: $property;
  flex-direction: $property;
}
@mixin justify-content($property) {
  -webkit-justify-content: $property;
  justify-content: $property;
}
@mixin align-items($property) {
  -webkit-align-items: $property;
  align-items: $property;
}

%after-before {
  content: '';
  position: absolute;
  display: block;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 767px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
