@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/mixins.scss';

.name { width:100%; position: absolute; top: 50%; @include transform(translateY(-50%)); color:var(--font-color-light); white-space:nowrap;text-overflow: ellipsis;overflow: hidden; }
.probabilityBackground{
  position: relative;
  border: 1px solid var(--border-light);
  border-radius: 8px;
}
.probability { height: 34px; background: rgba($theme-medium2,0.5); border-radius: 8px;}
.value { width: 40px; }
