{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content form-page">

      <!-- Breadcrumb-->
      <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 py-3 px-0">
            <li class="breadcrumb-item active" aria-current="page">Profile Details</li>
          </ol>
        </nav>
      </div>
      <section class="tables py-0">
        <div class="container-fluid">
          <div class="row gy-4 ">
            <div class="col">
              <div class="card mb-0">
                <div class="card-header">
                  <h3 class="h4 mb-0">Profile Details</h3>
                  <!-- <div class="row">
                    <div class="col-md-2 col-sm-4 text-sm-end justify-content-end ms-auto">
                      <div class=" my-4 ">
                        <button class="btn btn-primary mb-3 text-capitalize ms-auto " type="submit">
                          Edit
                        </button>
                        </span>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="card-body  py-4 ">
                  <div class="row align-items-center mb-5">
                    <div class="col-sm-4 mx-auto">
                      {% if messages %}
                      {% for message in messages %}
                      <script>toastr.{{ message.tags }}("{{ message }}")</script>
                      {% endfor %}
                      {% endif %}
                      <form method=POST>
                        {% csrf_token %}
                        <div class="mb-4">
                          <label class="form-label text-capitalize" for="current-password">current password</label>
                          <input class="form-control" id="current-password" type="password" name="current-password" required
                            aria-describedby="passwordhelp" {% if current_password %} value="{{current_password}}" {% endif %}><span toggle="#current-password" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right; margin-top: -25px; padding-right: 30px;"></span>
                          <!-- <div class="form-text" id="passwordHelp">Answer
                          </div> -->
                        </div>
                        <div class="mb-4">
                          <label class="form-label text-capitalize" for="new-password">new password</label>
                          <input class="form-control" id="new-password" type="password" name="new-password" required
                            aria-describedby="passwordhelp" {% if new_password %} value="{{new_password}}" {% endif %}><span toggle="#new-password" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right; margin-top: -25px; padding-right: 30px;"></span>
                          <!-- <div class="form-text" id="passwordHelp">Answer
                          </div> -->
                        </div>
                        <div class="mb-4">
                          <label class="form-label text-capitalize" for="confirm-password">confirm password</label>
                          <input class="form-control" id="confirm-password" type="password" name="confirm-password" required
                            aria-describedby="passwordhelp" {% if confirm_password %} value="{{confirm_password}}" {% endif %} ><span toggle="#confirm-password" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right; margin-top: -25px; padding-right: 30px;"></span>
                          <!-- <div class="form-text" id="passwordHelp">Answer
                          </div> -->
                        </div>
                        <div class="d-flex mx-auto justify-content-center mt-5 mb-5">
                          <button id="submit-button" class="btn btn-primary text-capitalize me-4" type="submit" >Save</button>
                          <a href="{% url 'index' %}"><button class="btn btn-primary text-capitalize" type="button">Cancel</button></a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- JavaScript files-->
  
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
  <!-- Main File-->
  <script src="{% static 'js/front.js' %}"></script>
  <script>
    $(".toggle-password").click(function() {
    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
    });
    // ------------------------------------------------------- //
    //   Inject SVG Sprite - 
    //   see more here 
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite (path) {

      var ajax = new XMLHttpRequest();
      ajax.open("GET", path, true);
      ajax.send();
      ajax.onload = function (e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    }
    // this is set to BootstrapTemple website as you cannot 
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
  </script>
  <script>
    function readURL (input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('.profile-image').css('background-image', 'url(' + e.target.result + ')');
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
    $(document).ready(function () {
      $('.profile-image a').click(function () {
        $(".profile-image input").trigger('click');
      });
      $(".profile-image input").change(function () {
        readURL(this);
      });
    })
  </script>
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}