{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content form-page">

      <!-- Breadcrumb-->
      <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 py-3 px-0">
            <li class="breadcrumb-item"><a href="{% url 'cms' %}"> CMS Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit T&C</li>
          </ol>
        </nav>
      </div>
      <section class="tables py-0">
        <div class="container-fluid">
          <div class="row gy-4 ">
            <div class="col">
              <div class="card mb-0">
                <div class="card-header">
                  <h3 class="h4 mb-0">Term & Condition</h3>
                </div>
                <div class="card-body  py-4 ">
                  <div class="row align-items-center">

                    <div class="">
                      <div class="faq-detail-box">
                        <div class="row">
                          <div class="col-sm-5 col-md-6 col-lg-4 pt-0">
                            <article class="container">
                              <div class="section intro-section ps-3">
                            </article>
                          </div>
                            <form method=POST>
                              {% csrf_token %}
                              <div class="mb-5">
                                <textarea class="form-control" id="questionId" type="text" name="term_and_condition"
                                  rows="10">{{cms.term_and_condition}}</textarea>
                              </div>
                              <div class="d-flex justify-content-center mt-5">
                                <button class="btn btn-primary text-capitalize me-4" type="submit">Save</button>
                                <a href="{% url 'cms' %}"><button class="btn btn-primary text-capitalize" type="button">Cancel</button></a>
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- JavaScript files-->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
  <!-- Main File-->
  <script src="{% static 'js/front.js' %}"></script>
  <script>
    // ------------------------------------------------------- //
    //   Inject SVG Sprite - 
    //   see more here 
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite (path) {

      var ajax = new XMLHttpRequest();
      ajax.open("GET", path, true);
      ajax.send();
      ajax.onload = function (e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    }
    // this is set to BootstrapTemple website as you cannot 
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');


  </script>
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <script>
    function readURL (input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('.profile-image').css('background-image', 'url(' + e.target.result + ')');
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
    $(document).ready(function () {
      $('.profile-image a').click(function () {
        $(".profile-image input").trigger('click');
      });
      $(".profile-image input").change(function () {
        readURL(this);
      });
    })
  </script>
{% endblock %}