{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content form-page">

      <!-- Breadcrumb-->
      <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 py-3 px-0">
            <li class="breadcrumb-item active" aria-current="page">Media Gallary</li>
          </ol>
        </nav>
      </div>
      <section class="tables py-0">
        <div class="container-fluid">
          <div class="row gy-4">
            <div class="col">
              <div class="card mb-0">
                  <div class="card-header">
                  <h3 class="h4 mb-0">Media Gallary</h3>
                  <div class="row flex-wrap">
                    <div class="col-lg-6">
                      <div class="input-group my-4 search-box border ">
                        <input class="form-control px-4 " type="search" placeholder="What you are looking for..." id="search-input" {% if search %} value="{{search}}" {% endif %}>
                        <span class="input-group-append">
                          <button class="btn ms-n5" type="button" id="search-button">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-2 col-sm-4 text-sm-end justify-content-end">
                      <div class=" my-4 ">
                          <button class="btn btn-primary file-box position-relative mb-3 text-capitalize ms-auto"
                            type="submit"  onclick="window.location.href='{% url "upload-media" %}'">
                            Upload Images
                          </button>               
                        </span>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="card-body pt-0">
                    <div class="delete-selcted">
                      <!-- <button class="btn btn-primary mb-3 me-3" id="login" type="submit"><i class="fas fa-trash-alt me-2"></i>Deleted Selected</button> -->
                      <form id="delete-selected-form" method="post" action="delete-multiple-media">
                        {% csrf_token %}
                        <input type="hidden" name="media-array" id="delete-selcted-hidden-input">
                        <input type="hidden" name="search" {% if search %} value="{{search}}" {% else %} value="" {% endif %}>
                        <input type="hidden" name="size" value="{{page_size}}">
                        <input type="hidden" name="page" value="{{media_gallary.number}}">
                      </form>
                      <button class="btn btn-primary mb-3 me-3" id="delete-selcted-button" type="click" data-bs-toggle="modal" data-bs-target="#multipleDelete"><i class="fas fa-trash-alt me-2"></i>Deleted Selected</button>
                      <select class="form-select mb-3" aria-label="Default select example" onchange="setPageSize(this)">
                        <option value="10" {% if page_size == 10 %} selected {% endif %}>10 entries</option>
                        <option value="20" {% if page_size == 20 %} selected {% endif %}>20 entries</option>
                        <option value="50" {% if page_size == 50 %} selected {% endif %}>50 entries</option>
                        <option value="100" {% if page_size == 100 %} selected {% endif %}>100 entries</option>
                      </select>
                    </div>
                    <div class="table-responsive">
                      <table class="table mb-0 table-striped table-hover">
                        <thead>
                          <tr>
                            <th><input class="form-check-input m-auto" type="checkbox" id="checkAllBox"  onchange="checkAll(this)"></th>
                            <th>Sr. No.</th>
                            <th>Image Name</th>
                            <th>Image</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for media in media_gallary %}
                          <tr>
                            <th><input class="form-check-input m-auto" type="checkbox" id="deleteCheckBox" value={{media.id}} onchange="checkMainBox(this)"></th>
                            <th scope="row">{{ media_gallary.start_index|add:forloop.counter0 }}</th>
                            <td>{{media.name}}</td>
                            <td><img src="{{media.img_url}}" height="35px" width="35px"></td>
                            <td class="action-box">
                              {% if search %}
                              <button type="submit" id="delete-media" class="" data-bs-toggle="modal"  data-bs-target="#exampleModal" value="delete-media/{{media.id}}?page={{media_gallary.number}}&search={{search}}&size={{page_size}}" onclick="getValue(this)"><i class="fas fa-trash-alt"></i></button>
                              {% else %}
                              <button type="submit" id="delete-media" class="" data-bs-toggle="modal"  data-bs-target="#exampleModal" value="delete-media/{{media.id}}?page={{media_gallary.number}}&size={{page_size}}" onclick="getValue(this)"><i class="fas fa-trash-alt"></i></button>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      </div>
                      <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-end my-3">
                          {% if media_gallary.has_previous %}
                          <li class="page-item">
                            <a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page=1&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page=1&size={{page_size}}" {% endif %} aria-label="Next">
                              First
                            </a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.previous_page_number}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.previous_page_number}}&size={{page_size}}" {% endif %} aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if media_gallary.number|add:"-3" >= 1 %}
                          <li class="page-item"><a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'-3'}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'-3'}}&size={{page_size}}" {% endif %}>{{media_gallary.number|add:"-3"}}</a></li>
                          {% endif %}
                          {% if media_gallary.number|add:"-2" >= 1 %}
                          <li class="page-item"><a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'-2'}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'-2'}}&size={{page_size}}" {% endif %}>{{media_gallary.number|add:"-2"}}</a></li>
                          {% endif %}
                          {% if media_gallary.number|add:"-1" >= 1 %}
                          <li class="page-item"><a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'-1'}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'-1'}}&size={{page_size}}" {% endif %}>{{media_gallary.number|add:"-1"}}</a></li>
                          {% endif %}
                          {% if media_gallary.paginator.num_pages > 1 %} <li class="page-item active"><a class="page-link">{{media_gallary.number}}</a></li> {% endif %}
                          {% if media_gallary.number|add:"1" <= media_gallary.paginator.num_pages %}
                          <li class="page-item"><a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'1'}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'1'}}&size={{page_size}}" {% endif %}>{{media_gallary.number|add:"1"}}</a></li>
                          {% endif %}
                          {% if media_gallary.number|add:"2" <= media_gallary.paginator.num_pages %}
                          <li class="page-item"><a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'2'}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'2'}}&size={{page_size}}" {% endif %}>{{media_gallary.number|add:"2"}}</a></li>
                          {% endif %}
                          {% if media_gallary.number|add:"3" <= media_gallary.paginator.num_pages %}
                          <li class="page-item"><a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'3'}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.number|add:'3'}}&size={{page_size}}" {% endif %}>{{media_gallary.number|add:"3"}}</a></li>
                          {% endif %}
                          {% if media_gallary.has_next %}
                          <li class="page-item">
                            <a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.next_page_number}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.next_page_number}}&size={{page_size}}" {% endif %} aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" {% if search %} href="{% url 'media-gallary' %}?page={{media_gallary.paginator.num_pages}}&search={{search}}&size={{page_size}}" {% else %} href="{% url 'media-gallary' %}?page={{media_gallary.paginator.num_pages}}&size={{page_size}}" {% endif %} aria-label="Next">
                              Last
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete this?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="delete-media-popup" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Model ends -->
  <!-- Modal to Delete Selected -->
  <div class="modal fade" id="multipleDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete all the selected entries?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="multiple-delete-media-popup" class="btn btn-primary" onclick="deleteSelected()">Delete Selected</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Model ends -->
  <!-- JavaScript files-->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
  <!-- Main File-->
  <script src="{% static 'js/front.js' %}"></script>
  <script>
    function deleteSelected(){
      var btn_ = document.getElementById("multiple-delete-media-popup");
      btn_.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...';
      btn_.disabled = true;

      var checkboxes = document.querySelectorAll('[id=deleteCheckBox]');
      var checkedBoxArray = [];
      checkboxes.forEach((box)=>{
        if(box.checked){
            checkedBoxArray.push(box.value)
          }});
      document.getElementById("delete-selcted-hidden-input").setAttribute("value", checkedBoxArray)
      document.getElementById("delete-selected-form").submit()
    }

    function checkMainBox(ele){
      if (ele.checked){
        var checkboxes = document.querySelectorAll('[id=deleteCheckBox]');
        var counter = 0;
        
        checkboxes.forEach((box)=>{
        if(box.checked){
            counter++;
          }});

        if (counter == checkboxes.length){
          document.getElementById('checkAllBox').checked = true;
        }
      }
      else{
        document.getElementById('checkAllBox').checked = false;
      }
    }

    function checkAll(ele) {
        var checkboxes = document.querySelectorAll('[id=deleteCheckBox]');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }}

    function setPageSize(choice){
      var value = document.getElementById('search-input').value;
      if(value.length != 0) 
      {
        window.location.href=`{% url 'media-gallary' %}?search=${value}&size=${choice.value}`
      }
      else
      {
        window.location.href=`{% url 'media-gallary' %}?size=${choice.value}`
      }
    }

    function redirctAndDisabledBtn(redirectUrl){
      var btn_ = document.getElementById('delete-media-popup');
      btn_.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...';
      btn_.disabled = true;
    }
    
    function getValue(btn){
        var redirectUrl = `window.location.href='${btn.value}'`
        document.getElementById('delete-media-popup').setAttribute("onclick", `redirctAndDisabledBtn(${redirectUrl});`)
      }

      document.getElementById('search-button').addEventListener('click', function() {
      var value = document.getElementById('search-input').value;
      if(value.length != 0) 
      {
        window.location.href=`{% url 'media-gallary' %}?search=${value}&size={{page_size}}`
      }
      else
      {
        window.location.href=`{% url 'media-gallary' %}?size={{page_size}}`
      }
    });

    // ------------------------------------------------------- //
    //   Inject SVG Sprite - 
    //   see more here 
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite (path) {

      var ajax = new XMLHttpRequest();
      ajax.open("GET", path, true);
      ajax.send();
      ajax.onload = function (e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    }
    // this is set to BootstrapTemple website as you cannot 
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');


  </script>
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}