{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content form-page">

      <!-- Breadcrumb-->
      <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 py-3 px-0">
            <li class="breadcrumb-item active" aria-current="page">Profile Details</li>
          </ol>
        </nav>
      </div>
      <section class="tables py-0">
        <div class="container-fluid">
          <div class="row gy-4 ">
            <div class="col">
              <div class="card mb-0">
                <div class="card-header">
                  <h3 class="h4 mb-0">Profile Details</h3>
                  <div class="row">
                    <div class="col-md-2 col-sm-4 text-sm-end justify-content-end ms-auto">
                      <div class=" my-4 ">
                        <!-- <a href="{% url 'change-password' %}"><button class="btn btn-primary mb-3 text-capitalize ms-auto" type="submit">Change Password</button></a> -->
                        <a href="{% url 'edit-profile' %}"><button class="btn btn-primary mb-3 text-capitalize ms-auto" type="submit">Edit</button></a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body pt-4 pb-5 ">
                  <div class="row align-items-center">
                    <div class="col-sm-3 col-md-4 mb-md-0 mb-3">
                      <div class="common-profile-box mb-4">
                        <img {% if admin.profile_pic|length is not 0 %} src="{{admin.profile_pic}}" {% else %} src="{% static 'img/user.png' %}" {% endif %} alt="profile">
                      </div>
                    </div>
                    <div class="col-sm-9 col-md-8">
                      <div class="customer-detail-box">
                        <h4 class="text-capitalize">Name</h4>
                        <h2 class="fw-bold pb-2">{{admin.name}}</h2>
                        <h4 class="text-capitalize mt-4">Email Id</h4>
                        <h2 class="fw-bold pb-2">{{admin.email}}</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- JavaScript files-->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
  <!-- Main File-->
  <script src="{% static 'js/front.js' %}"></script>
  <script>
    // ------------------------------------------------------- //
    //   Inject SVG Sprite - 
    //   see more here 
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite (path) {

      var ajax = new XMLHttpRequest();
      ajax.open("GET", path, true);
      ajax.send();
      ajax.onload = function (e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    }
    // this is set to BootstrapTemple website as you cannot 
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');


  </script>
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}