.transaction-data {
  .block {
    padding: 1rem;

    .title {
      font-size: 400;
    }
  }
}

.asset-list{
  svg{
    color: #d2fcc3;
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.8rem;
  .title{
    font-weight: 600;
    span{
      padding: 0 0.5rem;
    }
  }
  .user{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    span{
      padding: 0 0.5rem;
    }
    .field{
      display: flex;
      justify-content: flex-start;
    }
  }
  p{
    margin: 0;
    padding: 0;
  }
}