@import '../../../Assets/Style/_variables';

.project-section {
  .description-section,
  .file-section {
    height: 100%;
    display: flex;
    width: 100%;

    .wrapper_section {
      padding: 0;
      width: 100%;

      .details-box {
        padding: 24px;

        ul {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        p {
          margin-bottom: 0;
          font-weight: 400;
          font-size: 14px;
          color: $input-color;
          line-height: 26px;
        }

        .datatable_container {
          padding: 0;
        }
      }

      .d-flex.justify-content-between {
        .d-flex.align-items-center {
          border-bottom: 1px solid $secondary-color;
          padding: 16px 24px;
          width: 100%;
        }
      }
    }
  }

  .description-section {
    .wrapper_section {
      margin-right: 0;
    }
  }

  .file-section {
    .details-box-right {
      .icon {
        margin-right: 16px;
        width: 30px;
        height: 40px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .title {
        font-weight: 400;
        font-size: 14px;
        color: $black100;
        margin-bottom: -3px;
      }

      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #7189ac;
      }
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        border: 0;
        padding: 0;
        display: inline-block;
        cursor: pointer;

        &::before {
          display: none;
        }

        img {
          width: 16px;
          height: 16px;
        }

        &:not(:last-child) {
          padding-right: 20px;
        }
      }
    }
  }

  .employee-section {
    .details-box {
      padding-top: 0 !important;
      position: relative;
      .popup-link {
        background-color: transparent;
        border: none;
        color: $blue-500;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
      .action-td {
        text-align: center !important;
      }

      .dotes {
        background-color: transparent;
        width: 15px;
        height: 15px;
        margin: 0 auto;
        cursor: pointer;
        border: 0;
        @include flex(center, space-between, column);

        span {
          background-color: $heading-color;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          display: block;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .details-box {
      .details-box-right {
        align-items: center;
      }
    }
  }
  .file-section ul li:not(:last-child) {
    padding-right: 10px;
  }
}

.profile-details-section {
  padding: 16px 16px 0 16px;
  position: relative;

  .profile-details-padding {
    padding-bottom: 24px;
  }

  .profile-details-tab {
    padding-top: 24px;
    border-top: 1px solid $secondary-color;

    .card {
      background: $white;
      border: 1px solid $secondary-color;
      border-radius: 8px;

      .card-title {
        color: $heading-color;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 8px;
      }

      // .card-text {
      //   color: $input-color;
      //   font-weight: 500;
      //   font-size: 14px;
      //   line-height: 22px;
      // }

      button {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
  @media (max-width: 1280px) {
    .profile-details-tab {
      padding-top: 12px;
    }
  }
  @media (max-width: 768px) {
    .employee-content.txt {
      padding-left: 170px !important;
    }
    .profile-details-tab {
      .card {
        margin-bottom: 16px;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .wrapper_section {
    margin: 10px 0 !important;
  }
  .profile-details-section {
    padding: 0;
    .profile-details-padding {
      padding: 10px 20px;
    }
    .employee-content.txt {
      padding-left: 0 !important;
      margin-top: 100px;
    }
  }
}
.profile-details .wrapper_section {
  margin: 0;
}
.profile-details {
  .company-logo {
    overflow: hidden;
    position: absolute;
    top: -40px;
    left: 24px;
    object-fit: cover;
    width: 140px;
    height: 140px;
    background: $white;
    border: 1px solid $secondary-color;
    box-shadow: 0px 2px 4px rgba(178, 191, 210, 0.25);
    border-radius: 8px;
    @include flex(center, center, null);
  }

  .employee-content {
    &.txt {
      padding-left: 190px;
    }

    h2 {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $black50;
    }

    p {
      margin-bottom: 8px;
      color: $input-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;

      span {
        color: $heading-color;
        margin-right: 8px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .employee-image {
    margin-top: 28px;
    text-align: right;
    @include flex(center, flex-end, null);

    span,
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px solid $secondary-color;

      &:not(:first-child) {
        margin-left: -6px;
      }
    }

    span {
      color: $white;
      font-weight: 500;
      font-size: 12px;
      background-color: $input-color;
      @include flex(center, center, null);
    }
  }

  .shape-img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
}
