/.idea
/.fleet
/vendor
/.vscode
/__MACOSX
/public/hot
/node_modules
/public/build
/storage/*.key
/public/storage
/.phpunit.cache
.env
.DS_Store
.env.backup
.env.testing
.env.staging
.env.production
.phpunit.result.cache
cron.log
auth.json
npm-debug.log
Homestead.json
Homestead.yaml
yarn-error.log
docker-compose.override.yml
