@import '../../assets/scss/helper/_variables';

.donate-page {
  position: relative;
  .inner-donate {
    padding: 104px 0px 160px;
    background-image: url('../../assets/images/css-img/donate-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .donateShape {
      position: absolute;
      right: 5%;
      width: 34%;
      height: 50%;
      .donate-card-img {
        position: absolute;
        z-index: 1;
      }
      .donate-shape-img {
        position: absolute;
        right: 0;
        top: 25%;
      }
    }
  }
  .inner-donate-cause {
    padding: 104px 0px 160px;
  }
  .cause-item {
    p {
      font-size: 20px;
      line-height: 30px;
      color: $primary-color;
      margin: 0px;
    }
    form {
      margin-top: 65px;
      .footer-button {
        padding-top: 26px;
      }
      button {
        width: 100%;
      }
    }
    .radio-items {
      margin-bottom: 3rem;
      .radio-box label {
        padding-left: 1px;
      }
    }
  }
  @media (max-width: 1600px) {
    .donateShape {
      .donate-card-img {
        width: 60%;
        height: 90%;
      }
      .donate-shape-img {
        top: 16% !important;
      }
    }
  }

  @media (max-width: 1024px) {
    .radio-items {
      width: 100% !important;
      label {
        font-size: 15px !important;
        padding-left: 3px !important;
      }
    }
    .donateShape {
      .donate-card-img {
        width: 80%;
        height: 80%;
        right: 35%;
      }
    }
  }

  @media (max-width: 768px) {
    .donateShape {
      .donate-card-img {
        width: 80%;
        height: 55%;
      }
    }
  }

  @media (max-width: 680px) {
    .inner-donate-cause {
      padding-top: 85px;
    }
    .donateShape {
      top: 11%;
      height: 16% !important;

      .donate-card-img {
        right: 60%;
        height: 260px;
      }
    }
  }

  @media (max-width: 575px) {
    .inner-donate-cause {
      padding-top: 40px;
    }
    .radio-items {
      width: 100% !important;
      .col-md-4 + .col-md-4 {
        padding-top: 10px;
      }
    }
    .inner-donate {
      padding: 67px 0px;
      .donate-title {
        width: 60%;
      }
    }
    .donateShape {
      top: 10%;
      right: 3% !important;
      .donate-card-img {
        width: 119.58px;
        height: 162px;
      }
    }
  }
}

.donate-heading {
  font-size: 2.5rem;
}
