@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.downloadApp { background: #0f0f0f no-repeat center center / auto 100%;
  position: relative;
  p { margin: 7px 0; }
}
.ctIcon { width: 28px; border-radius: 4px; }
.close { padding: 3px; width: 20px; height: 20px; border: 1px solid #fff; border-radius: 50%; top: 16px; right: 16px; @include filter(brightness(0) invert(1)); }

/***** Responsive CSS Start ******/

@media (min-width: 768px) {
  .downloadApp { background-image: url(../../../assets/images/download-app.jpg) }
}

@media (max-width: 767px) {
  .downloadApp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    p {
      margin: 0;
    }
  }
  .ctIcon { width: 18px; margin-left: 30px; }
  .close { padding: 2px; width: 16px; height: 16px; top: 50%; transform: translateY(-50%); left: 4px; }
}